3rd_party/boost
3rd_party/boost_*
dukascopy-bridge/export/*
dukascopy-bridge/pl.com.hlabber/target
hft/hft-config.h
hft/CMakeCache.txt
hft/cmake_install.cmake
hft/Makefile
hft/reconfig.status
hft/hft
hft/CMakeFiles
bdm/bdm-config.h
bdm/CMakeCache.txt
bdm/cmake_install.cmake
bdm/Makefile
bdm/reconfig.status
bdm/bdm
bdm/CMakeFiles
caans/caans-config.h
caans/CMakeCache.txt
caans/cmake_install.cmake
caans/reconfig.status
caans/Makefile
caans/caans
caans/CMakeFiles
rpm-gen/exchange/RPMS